<ul>
  <% @jobs.each do |job| %>
    <li>
      <%= link_to(job_path(job)) do %>
        <%= job.title %> -
        <%= job.company.name %>,
        <%= job.company.location %>
      <% end %>
    </li>
  <% end %>
</ul>
